/ footer#copyright
/   .container
/     .row
/       .col-md-12.text-center
/         p.wow.bounceIn data-wow-delay="0.3s" data-wow-offset="50" 
/           | Awesome &copy; Copyright 2016. Designed By Giri Designs